body {
    background: linear-gradient(to bottom, white, rgb(228, 235, 236));
}

* {
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(169, 4, 4);
}
button:hover{
    background: #dd82ad;
}

span {
    color: rgb(79, 20, 20);
    font-size: 14px;
}

/* Designing Home file */
footer {
    background-color: rgb(15, 3, 69);
    padding: 20px;
    margin: 0;
    display: block;
    color: white;
}

.footer>div {
    padding-bottom: 30px;
    height: auto;
}

.logo>h1 {
    margin-top: 5px;
}

.platforms>button {
    background: linear-gradient(150deg, blue, #ee87ee, #ccfead, #f23);
}

.map {
    text-align: center;
    margin: 2em 0;
    height: auto;
    width: 100%;
}

.frame {
    border-radius: 20px;
    width: 80%;
    height: 400px;
    margin-top: 20px;
}

.navbar>ul>li>a:hover {
    text-decoration: dotted underline;
    color: rgb(235, 134, 134);
}
.navbar>ul>li>a{
    color: white;
}

#mainservice>div>div>img {
    border-radius: 10px;
    height: 200px;
    width: 90%;
    margin-top: 20px;
}

.image {
    background: linear-gradient(130deg, #faa, #ff23, rgb(60, 60, 239), rgb(238, 61, 61));
    border-radius: 10px;
}

.welcometext>h1 {
    font-size: 25px;
    color: white;
}

.welcometext {
    margin-left: 30px;
    margin-top: 20px;
    animation-name: nonee;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
    text-align: center;
    animation-direction: alternate-reversee;
}

@keyframes nonee {
    from {
        transform: scale(0.4, 0.4);
        rotate: 180deg;
    }

    to {
        transform: scale(0.8, 0.8);
        rotate: 360deg;
    }
}

form {
    text-align: left;
    border-style: solid;
    border-left-color: rgb(146, 54, 54);
    border-bottom-color: rgb(96, 54, 54);
}

.greetings {
    background-color: rgb(250, 250, 192);
    border-radius: 10px;
    border-width: 5px;
    border-bottom-style: solid;
    padding: 10px;
    border-left-style: solid;
    border-left-color: rgb(146, 54, 54);
    border-bottom-color: rgb(96, 54, 54);
}

#mainproject>div,
#mainservice>div {
    border-bottom-style: solid;
    border-width: 5px;
        border-left-style: solid;
    border-left-color: rgb(146, 54, 54);
    border-bottom-color: rgb(96, 54, 54);
}
#mainproject>div:hover,
#mainservice>div:hover{
    transform: scale(1.02);
    transition-duration: 1.2s;
}
.navb>ul>li>a{
    color: white;
}

@media (min-width:100px) and (max-width: 767px) {
    * {
        padding: 0;
        margin: 0;
    }
    .headerdiv {
        background-color: red;
    }

    .image>img {
        border-radius: 10px;
        height: 200px;
        width: 90%;
        margin-top: 20px;
    }

    .navb {
        display: block;
        text-align: left;
        padding: 10px;
    }

    details {
        padding: 10px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    summary {
        font-size: 40px;
        display: inline-block;
    }

    ul {
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3 {
        width: auto;
        text-align: center;
    }

    .header {
        background-color: rgb(1, 1, 32);
        display: block;
        margin-bottom: 50px;
        position: fixed;
        width: 100%;
        color: rgb(210, 200, 200);
    }

    .logo {
        border-radius: 50%;
        background: linear-gradient(200deg, #184aac, #ffaa, #dd82ad);
        text-align: center;
        height: 50px;
        width: 50px;
        padding: 0 20px 0 20px;
        margin-left: 10px;
        margin-top: 7px;
        font-size: 25px;
        color: green;
    }

    .logo>h1 {
        margin-top: 5px;
        font-size: 25px;
    }

    .navbar {
        display: none;
    }

    .navbar a {
        text-decoration: none;
    }

    .main {
        padding: 30px;
        text-align: center;
        height: auto;
        display: block;
    }

    .main button {
        margin: 10px;
        border-radius: 5px;
        padding: 5px;
    }

    /* Styling about file */
    img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        padding: 2em;
    }

    .skills {
        margin: 20px;
        padding: 20px;
        width: auto;
        height: auto;
    }

    .skills>div {
        background-color: rgb(210, 210, 164);
        border-radius: 8px;
        padding: 5px 0;
        margin: 0 50px;
    }

    .skills>div>div {
        background: linear-gradient(to right, rgb(202, 210, 154),
                rgb(190, 230, 249), rgb(208, 229, 231));
        text-align: right;
        font-size: 10pxf;
    }

    .css {
        width: 87%;
        border-radius: 0 10px 10px 0;
    }

    .html {
        width: 90%;
        border-radius: 0 10px 10px 0;
    }

    .design {
        width: 88%;
        border-radius: 0 10px 10px 0;
    }

    .accessibility {
        width: 80%;
        border-radius: 0 10px 10px 0;
    }

    .animation {
        width: 90%;
        border-radius: 0 10px 10px 0;
    }

    #mainabout {
        display: block;
    }

    /* Styling Projects file */
    #h1 {
        padding: 6em 1em 1em 1em;
        text-align: center;
        width: auto;

    }

    #h2 {
        padding: 10px, 10px;
        text-align: center;
        width: auto;
    }

    #mainproject>div,
    #mainservice>div {
        background-color: rgb(226, 210, 210);
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 10px;
    }

    #mainhome {
        padding-top: 210px;
    }

    /* Styling Contacts file */
    #maincontact {
        padding-top: 18em;
    }

    form {
        background-color: rgb(217, 217, 223);
        margin: 2em 2em;
        padding: 2em 2em;
        border-radius: 20px;
        text-align: left;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select {
        width: 100%;
        margin: 10px 0 10px 0;
        padding: 5px 0;
        border-radius: 5px;
        outline: none;
    }

    textarea {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 5px;
        border-radius: 5px;
    }

    .contacts h3,
    .platforms h3 {
        text-align: left;
        margin-bottom: 10px;
    }
}

/* Styling for the median screens (tablets)Styling for the median screens (tablets) */

@media (min-width: 768px) and (max-width: 1023px) {
    * {
        padding: 0;
        margin: 0;
    }

    .navb,
    details {
        display: none;
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin-right: 20px;
        text-align: right;
        font-size: 20px;
        /* margin-bottom: 0;
    margin-top: 3em; */
    }

    .navbar {
        margin: 60px 30px 10px 60px;
        padding-left: 10px;
        position: absolute;
        bottom: -20px;
        left: 500px;
    }

    h1,
    h2,
    h3 {
        width: auto;
        text-align: center;
    }

    .header {
        background-color: rgb(1, 1, 32);
        margin-bottom: 50px;
        position: fixed;
        width: 100%;
        padding-bottom: 10px;
    }

    .logo {
        border-radius: 50%;
        background: linear-gradient(200deg, #184aac, #ffaa, #dd82ad);
        text-align: center;
        height: 50px;
        width: 50px;
        margin-left: 10px;
        margin-top: 7px;
        font-size: 40px;
        color: green;
    }

    .logo>h1 {
        margin-top: 5px;
        font-size: 25px;
    }

    .navbar {
        display: flex;
        padding-bottom: 20px;
        margin-left: 30px;
    }

    .navbar a {
        text-decoration: none;
        font-size: 14px;
    }

    .myself {
        padding-top: 1em;
    }

    .main button {
        margin: 10px;
        border-radius: 5px;
        padding: 5px;
    }

    /* Styling about file */
    img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        padding: 2em;
    }

    .skills {
        margin: 20px;
        padding: 20px;
        width: auto;
        height: auto;
    }

    .skills>div {
        background-color: rgb(210, 210, 164);
        border-radius: 8px;
        padding: 5px 0;
        margin: 0 100px;
    }

    .skills>div>div {
        background: linear-gradient(to right, rgb(202, 210, 154),
                rgb(190, 230, 249), rgb(208, 229, 231));
        text-align: right;
        font-size: 10pxf;
    }

    .css {
        width: 87%;
        border-radius: 0 10px 10px 0;
    }

    .html {
        width: 90%;
        border-radius: 0 10px 10px 0;
    }

    .design {
        width: 88%;
        border-radius: 0 10px 10px 0;
    }

    .accessibility {
        width: 80%;
        border-radius: 0 10px 10px 0;
    }

    .animation {
        width: 90%;
        border-radius: 0 10px 10px 0;
    }

    #mainabout {
        display: block;
        text-align: center;
        margin: 0 100px;
    }

    /* Styling Projects file */
    #h1 {
        padding: 6em 1em 1em 1em;
        text-align: center;
        width: auto;

    }

    #h2 {
        padding: 10px, 10px;
        text-align: center;
        width: auto;
    }

    #mainproject>div,
    #mainservice>div {
        background-color: rgb(226, 210, 210);
        margin-bottom: 10px;
        margin-left: 10px;
        height: auto;
        border-radius: 10px;
        padding: 10px;
    }

    #mainhome {
        padding-top: 10em;
        text-align: center;
    }

    /* Styling Contacts file */
    #maincontact {
        padding-top: 18em;
    }

    form {
        background-color: rgb(217, 217, 223);
        margin: 2em 2em;
        padding: 2em 2em;
        border-radius: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select {
        width: 100%;
        margin: 10px 0 10px 0;
        padding: 5px 0;
        border-radius: 5px;
        outline: none;
    }

    textarea {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 5px;
        border-radius: 5px;
    }

    #mainservice,
    #mainproject {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 30px;
    }

    #mainservice>div,
    #mainproject>div {
        margin-right: 5px;
    }

    .contacts h3,
    .platforms h3 {
        text-align: left;
        margin-bottom: 10px;
    }
}

/* Styling for the big screens Styling for the big screens Styling for the big screens */
@media (min-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
    }

    .navb,
    details {
        display: none;
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin-right: 20px;
        text-align: right;
        font-size: 20px;
        /* margin-bottom: 0;
    margin-top: 3em; */
    }

    .navbar {
        margin: 60px 30px 10px 60px;
        padding-left: 10px;
        position: absolute;
        bottom: -20px;
        left: 850px;
    }

    h1,
    h2,
    h3 {
        width: auto;
        text-align: center;
    }

    .header {
        background-color: rgb(1, 1, 32);
        margin-bottom: 1px;
        display: flex;
        position: fixed;
        width: 100%;
        padding-bottom: 10px;
    }

    .logo {
        border-radius: 50%;
        background: linear-gradient(200deg, #184aac, #ffaa, #dd82ad);
        text-align: center;
        height: 50px;
        width: 50px;
        margin-left: 10px;
        margin-top: 7px;
        font-size: 40px;
        color: green;
    }

    .logo>h1 {
        margin-top: 5px;
        font-size: 25px;
    }

    .navbar {
        padding-bottom: 20px;
    }

    .navbar a {
        text-decoration: none;
        font-size: 14px;
    }

    .main {
        padding: 30px;
        text-align: center;
        height: auto;
        display: block;
        margin: 0 5em;
    }

    .myself {
        padding-top: 1em;
    }

    .main button {
        margin: 10px;
        border-radius: 5px;
        padding: 5px;
    }

    /* Styling about file */
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-bottom: 2em;
    }

    .skills {
        margin: 20px;
        padding: 20px;
        width: auto;
        height: auto;
    }

    .skills>div {
        background-color: rgb(210, 210, 164);
        border-radius: 8px;
        padding: 5px 0;
        margin: 0 100px;
    }

    .skills>div>div {
        background: linear-gradient(to right, rgb(202, 210, 154),
                rgb(190, 230, 249), rgb(208, 229, 231));
        text-align: right;
        font-size: 10pxf;
    }

    .css {
        width: 87%;
        border-radius: 0 10px 10px 0;
    }

    .html {
        width: 90%;
        border-radius: 0 10px 10px 0;
    }

    .design {
        width: 88%;
        border-radius: 0 10px 10px 0;
    }

    .accessibility {
        width: 80%;
        border-radius: 0 10px 10px 0;
    }

    .animation {
        width: 90%;
        border-radius: 0 10px 10px 0;
    }

    #mainabout {
        display: flex;
        text-align: center;

    }

    #mainabout>div {
        width: 50%;
        margin-top: 20px;
    }

    /* Styling Projects file */
    #h1 {
        padding: 6em 1em 1em 1em;
        text-align: center;
        width: auto;

    }

    #h2 {
        padding: 10px, 10px;
        text-align: center;
        width: auto;
    }

    #mainproject>div,
    #mainservice>div {
        background-color: rgb(226, 210, 210);
        margin-bottom: 10px;
        margin-left: 10px;
        height: auto;
        border-radius: 10px;
        padding: 10px;
    }

    #mainhome {
        padding-top: 8em;
    }

    /* Styling Contacts file */
    #maincontact {
        padding-top: 9em;
    }

    form {
        background-color: rgb(217, 217, 223);
        margin: 2em 2em;
        padding: 2em 2em;
        border-radius: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select {
        width: 100%;
        margin: 10px 0 10px 0;
        padding: 5px 0;
        border-radius: 5px;
        outline: none;
    }

    textarea {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 5px;
        border-radius: 5px;
    }

    #mainservice,
    #mainproject {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #mainservice>div,
    #mainproject>div {
        margin-right: 5px;
    }

    #maincontact>p>button {
        width: 10em;
        display: inline-block;
    }

    .footer {
        display: flex;
        padding: 0 5em;
    }

    .contacts,
    .platforms {
        margin: 2em 5em;
        width: 50%;
    }

    .contacts h3,
    .platforms h3 {
        text-align: left;
        margin-bottom: 10px;
    }
}